<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mcplabs.mcpproxy</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-c</string>
    <string>cd /Users/mac/Documents/GitHub/merislabs-official && npx -y @srbhptl39/mcp-superassistant-proxy@latest --config ./config.json --outputTransport sse --port 3006</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/mcp-dc.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/mcp-dc.log</string>
</dict>
</plist>